body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f2f5;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; /* Centers items horizontally */
  min-height: 100vh;
}

h2 {
  color: #333;
  margin-top: 30px;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

/* The wrapper for Blockly to give it a nice shadow and border */
#blocklyArea {
  width: 90%;
  max-width: 1200px;
  height: 600px;
  background: white;
  padding: 10px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
  margin-bottom: 20px;
  overflow: hidden; /* Keeps the workspace contained */
}

#blocklyDiv {
  height: 100%;
  width: 100%;
  border-radius: 8px; /* Slightly rounded edges inside the container */
}

/* Styling the Send Button */
button {
  background-color: #4a90e2; /* Modern Blue */
  color: white;
  border: none;
  padding: 15px 32px;
  font-size: 16px;
  font-weight: bold;
  border-radius: 50px; /* Pill shape */
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 4px 15px rgba(74, 144, 226, 0.3);
  display: flex;
  align-items: center;
  gap: 10px;
}

.button-container {
  margin-bottom: 40px;
  display: flex;
  gap: 20px; /* Space between buttons */
}

/* Specific style for Send button */
.send-btn {
  background-color: #4a90e2;
  box-shadow: 0 4px 15px rgba(74, 144, 226, 0.3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.send-btn:hover {
  background-color: #8fb8e6;
  box-shadow: 0 4px 15px rgba(74, 144, 226, 0.3);
}

.stop-btn {
  background-color: #d0021b; /* High-contrast red */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.stop-btn:hover {
  background-color: #a00014;
}

/* Specific style for Clear button */
.clear-btn {
  background-color: #f44336; /* Red */
  box-shadow: 0 4px 15px rgba(244, 67, 54, 0.3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.clear-btn:hover {
  background-color: #ec8780;
  box-shadow: 0 6px 20px rgba(244, 67, 54, 0.4);
}

/* Specific style for Save button */
.save-btn {
  background-color: #36c63f; /* Green */
  box-shadow: 0 4px 15px rgba(45, 208, 50, 0.3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.save-btn:hover {
  background-color: #76c57b;
  box-shadow: 0 4px 15px rgba(45, 208, 50, 0.3);
}


/* Specific style for Open button */
.open-btn {
  background-color: #b037d5;
  box-shadow: 0 4px 15px rgba(203, 54, 244, 0.3);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}

.open-btn:hover {
  background-color: #c18dd1;
  box-shadow: 0 4px 15px rgba(203, 54, 244, 0.3);
}

